<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.sahwang.product.mapper.ProductMapper">
    <!-- 쿼리 정의 -->
    <select id="findBestProduct" resultType="com.green.sahwang.mainpage.dto.BestProductResDto">
        WITH RankedProducts AS (
            SELECT
                p.product_id,
                p.name AS productName,
                p.brand_id AS brandId,
                p.main_image AS mainImage,
                p.dtype,
                COUNT(p.product_id) AS productCount,
                ROW_NUMBER() OVER (PARTITION BY p.dtype ORDER BY COUNT(p.product_id) DESC) AS rank_number
            FROM used_product up
                     INNER JOIN verified_sale vs ON vs.verified_sale_id = up.verified_sale_id
                     INNER JOIN pending_sale ps ON ps.pending_sale_id = vs.pending_sale_id
                     INNER JOIN product p ON p.product_id = ps.product_id
            WHERE up.sold_out = true
              AND ps.inspection_status = 'SOLD'
            GROUP BY p.product_id, p.name, p.brand_id, p.main_image, p.dtype
        )
        SELECT product_id AS productId, productName, brandId, mainImage, dtype
        FROM RankedProducts
        WHERE rank_number = 1;
    </select>
</mapper>
