<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.sahwang.sale.mapper.SaleMapper">
    <!-- ImageResDto 데이터 조회 (유저 이미지) -->
    <select id="findUserImages" resultType="com.green.sahwang.dto.response.ImageResDto">
        SELECT *
        FROM user_sale_image usi
        WHERE usi.pending_sale_id = #{pendingSaleId}
    </select>

    <!-- ImageResDto 데이터 조회 (검증된 이미지) -->
    <select id="findVerifiedImages" resultType="com.green.sahwang.dto.response.ImageResDto">
        SELECT *
        FROM verified_sale_image vsi
        WHERE vsi.verified_sale_id = #{verifiedSaleId}
    </select>

    <select id="findProductImageById" resultType="String">
            select p.main_image
            from product p
            where p.product_id = #{productId}
    </select>

    <select id="findSellerById" resultType="String">
        select m.nick_name
        from member m
        where m.member_id = #{memberId}
    </select>

    <select id="findSaleList" resultType="com.green.sahwang.mypage.dto.res.SaleListResDto">
        SELECT
        ps.pending_sale_id AS pendingSaleId,
        vs.verified_sale_id AS verifiedSaleId,
        up.used_product_id AS usedProductId,
        ps.category_name AS userCategory,
        ps.brand_name AS userBrand,
        ps.product_name AS productName,
        ps.inspection_status AS saleStatus,
        ps.excepted_selling_price AS userPrice,
        ps.product_size AS userSize,
        ps.used_or_not AS userUsedOrNot,
        vs.category_name AS verifiedCategory,
        vs.brand_name AS verifiedBrand,
        vs.product_name AS verifiedProductName,
        vs.product_size AS verifiedSize,
        vs.verified_selling_price AS verifiedPrice,
        vs.used_or_not AS verifiedUsedOrNot,
        up.used_product_type AS usedProductType,
        sg.grade_type AS gradeType,
        rr.reason AS reason
        FROM member m
        INNER JOIN pending_sale ps ON ps.member_id = m.member_id
        LEFT JOIN verified_sale vs ON ps.pending_sale_id = vs.pending_sale_id
        LEFT JOIN used_product up ON vs.verified_sale_id = up.used_product_id
        LEFT JOIN sale_grade sg ON sg.sale_grade_id = vs.sale_grade_id
        LEFT JOIN rejection_reason rr ON rr.rejection_reason_id = vs.rejected_sale_id
        WHERE m.member_id = #{memberId}
        AND ps.inspection_status in ('WAITING', 'ACCEPTED', 'REJECTED', 'SELLING', 'SOLD')
        ORDER BY ps.pending_sale_id DESC
        LIMIT #{pageable.offset}, #{pageable.pageSize}
    </select>

    <select id="findSaleListTotalCount" resultType="int">
        SELECT
        COUNT(*) AS totalCount
        FROM member m
        INNER JOIN pending_sale ps ON ps.member_id = m.member_id
        LEFT JOIN verified_sale vs ON ps.pending_sale_id = vs.pending_sale_id
        LEFT JOIN used_product up ON vs.verified_sale_id = up.used_product_id
        LEFT JOIN sale_grade sg ON sg.sale_grade_id = vs.sale_grade_id
        LEFT JOIN rejection_reason rr ON rr.rejection_reason_id = vs.rejected_sale_id
        WHERE m.member_id = #{memberId}
        AND ps.inspection_status in ('WAITING', 'ACCEPTED', 'REJECTED', 'SELLING', 'SOLD')
    </select>


</mapper>
